.header{
  background-color: #ffffff;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 210px);
  max-width: 1280px;
  border-radius: 15px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  
}

.header .logo img{
  height: 48px;
}

.nav-center ul{
  display: flex;
  gap: 2.5rem;
}

.nav-center ul li a, .nav-right ul li a{
  font-size: 1.25rem;
  color: #333333
}

.nav-center ul li a:hover, .nav-right ul li a:hover{
    color: #7c3aed;
}

.nav-right ul{
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7;
}

.nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}
.menu-toggle{
  display: none;
}
.menu-icon{
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10001;
}
.menu-icon img{
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}
.menu-icon:hover img{
  opacity: 0.7;
}

@media(max-width: 1280px){
  .header{
    width: calc(100% - 40px);
  }

  .menu-icon{
    display: block;
  } 
  .nav-container{
    position: fixed;
    top: 0;
    width: 200px;
    background-color: #ffffff;
    flex-direction: column;
    padding: 80px 20px 20px;
    gap: 2rem;
    transition: right 0.3s ease;
    align-items: flex-start;
    right: -100%;
  }

  .nav-center, .nav-right{
    width: 100%;
    text-align: center;
  }

  .nav-center ul, .nav-right ul{
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-center a, .nav-right a{
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 0.3rem 0;
    font-size: 1rem;
    display: block;
  }

  .nav-center ul, .nav-right ul{
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  .menu-toggle:checked ~ .nav-container{
		right: 0;
	} 
}
