.hero{
    background: url(../images/banners/hero_imagem.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}
.hero-overlay{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0 6rem;
}

.hero-content{
    color: #ffffff;
    text-align: center;
    max-width: 360px;
}
.hero-title{
    font-size: 1.87rem;
    margin-bottom: 40px;
    margin-top: 10px;
    font-weight: 400;
}

.hero-content .hero-subtitle{
    font-size: 1.25rem;
    font-weight: 400;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
}
.btn-outline{
    background-color: transparent;
    border: 2px solid #ffffff  ;
}

.btn-filled{
    background-color: #ffffff;
    color: #6329A2;
    border: none;
    margin-left: 1rem;
}
.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}