.hero{
    background: url(../images/banners/hero_imagem.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}
.hero-overlay{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0 6rem;
}

.hero-content{
    color: #ffffff;
    text-align: center;
    max-width: 360px;
}
.hero-title{
    font-size: 1.87rem;
    margin-bottom: 40px;
    margin-top: 10px;
    font-weight: 400;
}

.hero-content .hero-subtitle{
    font-size: 1.25rem;
    font-weight: 400;
}



