.card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.top1{
    grid-area: top1;
    background-image: url(../images/products/modelo-masculino.png);
    
}
.top2{
    grid-area: top2;
    background-image: url(../images/products/roxo-grid.jpg);
    
}
.midL{
    grid-area: midL;
    background-image: url(../images/products/modelo-femino.jpg);
   
}
.midR{
    grid-area: midR;
    background-image: url(../images/products/moderno-grid.jpg);
    
}
.bottomL{
    grid-area: bottomL;
    background-image: url(../images/products/casual-grid.jpg);
    
}
.bottomR{
    grid-area: bottomR;
    background-image: url(../images/products/futurista-grid.jpg);
    
}
.grid-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR";
    gap: 30px;
}

.top1-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #EDEDED;
}

.top1-content .title{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.top1-content .card-subtitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.cta-group {
    display: flex;
    gap: 10px;
    
}
@media (max-width: 768px) {
    .grid-section{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "top1 top1"
            "top2 top2"
            "midL midR"
            "midL bottomR"
            "bottomL bottomL";
            max-width: 100%;
            gap: 0.625
    }
    .top1{
        height: 500px;
    }
    .midL{
        height: 370px;
    }
    .bottomL{
        height: 190px;
    }

}